.idea
logs
*.iml
*.inc
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
*/logs
*/scripts/*.*~
src/main/webapp/WEB-INF/classes
src/main/webapp/META-INF/
/test
src/main/test
src/main/testresource
resource/conf
testresource/*
src/test
target
overlays
src/main/webapp/static/uploadfile/*.png
src/main/webapp/static/uploadfile/*.jpg
.DS_Store
src/main/webapp/.DS_Store
src/main/.DS_Store
src/.DS_Store
hs_err_pid1717.log
.vscode
.happypack
npm-debug.log