<!DOCTYPE html>
<html lang="en">
    #parse("head.vm")
    <script src="js/jquery.js"></script>
    <script>
        function login() {
            var userName = document.getElementById("user_name").value;
            var password = document.getElementById("password").value;
            var url = "/android/login?userName=" + userName + "&password=" + password;
            $.ajax({
                type: "post",
                url: url,
                dataType: "json",
                success: function(data) {
                    var result = eval(data);
                    if (result.status == 'ok') {
                        location.href = "/android/main";
                    } else {
                        alert(result.msg);
                    }
                },
                error: function(data) {
                    alert("error");
                }
            });
        }
    </script>
  <body class="login-body">
    <div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">¿ì½ÝµÇÂ¼</h2>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="ÕÊºÅ" id="user_name" autofocus>
            <input type="password" class="form-control" placeholder="ÃÜÂë" id="password">
            <label class="checkbox">
##                <input type="checkbox" value="remember-me"> ¼Ç×¡ÃÜÂë
                <span class="pull-right"> <a href="/changePasswordPage"> Íü¼ÇÃÜÂë?</a></span>
            </label>
            <div class="btn btn-lg btn-login btn-block" onclick="login()" >µÇ Â¼</div>
            <label class="checkbox">
                <span class="pull-right"> <a href="/registerPage"> ×¢²áÕÊ»§</a></span>
            </label>
        </div>
      </form>

    </div>


  </body>
</html>
