<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>’“ªÿ√‹¬Î</title>
    <link rel="stylesheet" href="css/zhmm.css"/>
    <script type="text/javascript" src="js/alert.js"></script>
 <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<script>
    function changePassword() {
        var userName = document.getElementById("user_name").value;
        var password = document.getElementById("password").value;
        var rePassword = document.getElementById("rePassword").value;
        var email = document.getElementById("email").value;
        var url = "/android/changePassword?userName=" + userName + "&password=" + password + "&rePassword=" + rePassword + "&email=" + email;
        $.ajax({
            type: "post",
            url: url,
            dataType: "json",
            success: function(data) {
                var result = eval(data);
                if (result.status == 'ok') {
                    location.href = "/android/loginPage";
                } else {
                    alert(result.msg);
                }
            },
            error: function(data) {
                alert("error");
            }
        });
    }
</script>
<body style="background: white">
<div class="body" style="background: white">
    <div class="dlbg">
        <div class="dl">
            <p>’“ªÿ’À∫≈√‹¬Î</p>
            <div class="srk">
                <input type="text" class="input1" placeholder=" ”√ªß√˚" maxlength="32" id="user_name"/><br/>
                <input type="text" class="input1" placeholder=" ” œ‰" maxlength="32" id="email"/><br/>
                <input type="password" placeholder=" –¬√‹¬Î" class="input1" maxlength="16" id="password"/><br/>
                <input type="password" placeholder=" ÷ÿ∏¥√‹¬Î" class="input1" maxlength="16" id="rePassword"/><br/>
                <a href="javascript:"><button type="button" id="btn" onclick="changePassword()">»∑∂®</button></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>