<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="css/denglu.css"/>
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
</head>
<script src="js/jquery.js"></script>
<script>
    function login() {
        var userName = document.getElementById("user_name").value;
        var password = document.getElementById("password").value;
        var url = "/android/login?userName=" + userName + "&password=" + password;
        $.ajax({
            type: "post",
            url: url,
            dataType: "json",
            success: function(data) {
                var result = eval(data);
                if (result.status == 'ok') {
                    location.href = "/android/main?userName=" + userName;
                } else {
                    alert(result.msg);
                }
            },
            error: function(data) {
                alert("error");
            }
        });
    }
</script>

<body style="background: white">
<div class="body" style="background-color: white">
    <div class="dlbg">
        <div class="dl">
            <p>请填写您的用户名和密码</p>
            <div class="srk">
                <input type="text" placeholder="用户名" maxlength="11" id="user_name"/><br/>
                <input type="text" placeholder="密码" maxlength="11" id="password"/><br/>
                <a href="#"><button type="button" id="btn" onclick="login()">登录</button></a>
                <a href="/android/changePasswordPage">忘记密码?</a><a href="/android/registerPage" style="margin-left: 200px">立即注册</a>
            </div>

        </div>
    </div>
    </div>
</body>
</html>