<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height, user-scalable=no,initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>商铺首页</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/Up.css">
    <script type="text/javascript" src="js/jquery-1.12.1.js"></script>
    <script type="text/javascript" src="js/touch.js"></script>
    <script type="text/javascript" src="js/srcolltop.js"></script>
    <script type="text/javascript" src="js/timer.js"></script>
    <script type="text/javascript" src="js/xlmenu.js"></script>
    <script>
        $(function () {
            $("figure:eq(0)").css({
                border:'none'
            });
            $("figure:eq(1)").css({
                border:'none'
            });
            var titleName=$(".ycmenu a");
            for(var i =0;i<titleName.length;i++){
                titleName[i].id=i;
                titleName[i].onmouseover=function(){
                    for(var j =0;j<titleName.length;j++){
                        titleName[j].className="";
                    }
                    this.className = "a";
                }}
        });

        function jumpPage(url) {
            location.href = url;
        }

        function addCart(goodsId) {
            $.ajax({
                type: "get",
                url: "addCart?userId=${userId}&goodsId=" + goodsId + "&userName=${userName}",
                dataType: "json",
                success: function(data) {
                    alert("添加成功");
                },
                error: function(data) {
                    alert("error");
                }
            });
        }
    </script>
    <style>
        .head_bar {
            display: inline-block;
            width: 25%;
            height: 60px;
            float: left;
        }
        .clear_float {
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 0
        }
    </style>
</head>
<body style="background: white">
<div style="background: lightseagreen;width: 100%;height: 55px">
    <div style="padding: 0">
        <div style="display:inline-block;width: 50px;height: 50px;margin: 0;padding: 0;float: left"><img src="img/logo_with_out_border.png" style="width: 40px;margin-top: 5px;margin-left: 10px" alt="头像"/></div>
        <div style="padding: 0;float: left"><input placeholder="&nbsp;&nbsp;&nbsp;类别、商家、商品关键字" style="width:200px;height: 30px;border: 0px;margin-top: 12px;margin-left: 30px;border-radius: 20px;"></div>
    </div>
</div>
<div class="container" style="background: white">
    <div class="allLogo" style="background: white">
        <div class="logo" style="clear: left">
            <div class="head_bar" style="background: #e74c3c; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=1&userName=${userName}&userId=${userId}')">奶油蛋糕</div>
            <div class="head_bar" style="background: #2ecc71; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=2&userName=${userName}&userId=${userId}')">水果蛋糕</div>
            <div class="head_bar" style="background: #3498db; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=3&userName=${userName}&userId=${userId}')">鲜花蛋糕</div>
            <div class="head_bar" style="background: #e67e22; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=4&userName=${userName}&userId=${userId}')">慕斯蛋糕</div>
            <div class="head_bar" style="background: #8b4513; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=5&userName=${userName}&userId=${userId}')">巧克力蛋糕</div>
            <div class="head_bar" style="background: #f1c40f; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=6&userName=${userName}&userId=${userId}')">儿童蛋糕</div>
            <div class="head_bar" style="background: #8e44ad; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=7&userName=${userName}&userId=${userId}')">脱脂蛋糕</div>
            <div class="head_bar" style="background: #1abc9c; color: white; line-height: 60px; text-align: center; font-size: 14px" onclick="jumpPage('typeList?type=8&userName=${userName}&userId=${userId}')">DIY蛋糕</div>
            <div class="clear_float"></div>
        </div>
    </div>
    <div class="SeckillTwo">
        <div>
            <img src="img/u16.png" alt="">
        </div>
        <div class="hurry">
            <a href="Mgroup.html"><button>立即参团 <img src="img/jian.png"></button></a>
        </div>
        <div class="number" style="margin-bottom: 10px;color: black">
            <p>已抢 25 份 剩余 25 份</p>
        </div>
    </div>
    <div class="store">
        <ul>
            <li class="li1"><a href="#">商品</a></li>
            <li class="li2"><a href="javascript:;" class="xlmenu">全部&nbsp;<img src="img/donw.png" style="width: 12px;display: inline"></a>&nbsp;共<span style="color: #e4393c;font-size: 1.8rem">${goodsDomains.size()}</span>件</li>
        </ul>
        <div class="ycmenu">
            <ul>
                <li><a href="allGoods.html" class="a">全部商品</a></li>
                #foreach( ${info} in ${typeDomains})
                    <li><a href="/android/typeList?type=${info.getId()}&userName=${userName}&userId=${userId}">${info.getTypeName()}</a></li>
                #end
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="border">

    </div>
    <div class="allsp">
        #foreach( ${info} in ${goodsDomains})
        <figure>
            <a href="spxq.html"><img src="${info.getPic()}" alt="商品" class="xqtp"/></a>
            <p>${info.getName()}</p>
            <div class="info">
                <em class="sat">￥${info.getPrice()}&nbsp;<small>￥${info.getOriginPrice()}</small></em>
                <a href="#" onclick="addCart(${info.getId()})"><img src="img/u20.png" alt="购物车" style="width: 30px;height: 30px" align="right"/></a>
            </div>
        </figure>
        #end
        <div class="clear"></div>
    </div>
    <div class="wx_nav" id="wx_nav">
        <a href="javascript:;" class="nav_index" id="nav_index">首页</a>
        <a href="shopping?userId=${userId}&userName=${userName}" class="nav_shopcart" id="nav_shopcart">购物车</a>
        <a href="myList?userId=${userId}&userName=${userName}&type=-1" class="nav_me on" id="nav_me on">订单</a>
    </div>
</div>
<footer>
    <div class="footer">
        <p>没有更多了</p>
    </div>
</footer>
<div class="actGotop"><a href="javascript:;" title="返回顶部"></a> <img src="img/fanhui.png" alt=""></div>
<div class="theme-popover-mask"></div>
</body>
</html>
